GNU nano 8.4                                                                                       fstab.backup                                                                                                  

# /etc/fstab: static file system information.
#
# Use 'blkid' to print the universally unique identifier for a device; this may
# be used with UUID= as a more robust way to name devices that works even if
# disks are added and removed. See fstab(5).
#
# <file system>             <mount point>  <type>  <options>  <dump>  <pass>
UUID=C626-A127                            /boot/efi      vfat    defaults,umask=0077 0 2
UUID=610757af-4666-4500-9ef8-bf76283f8d91 /              ext4    defaults   0 1
tmpfs                                     /tmp           tmpfs   defaults,noatime,mode=1777 0 0
